{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Profil{% endblock %}

{% block body %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="/user">Profile</a><i class="icon-angle-right"></i></li>
                        <li><a href="/user/{{ app.user.id }}/edit">Edit Profile</a><i class="icon-angle-right"></i></li>
                        <li class="active">{{ app.user.name }} {{ app.user.surname }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="widget" style="width: 300px">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="s" placeholder="Search..">
                        </div>
                    </form>
                </div>
                {{ include('user/usermenu.html.twig') }}
                <div class="col-lg-8">
                    <h1>Edit User</h1>

                    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
