{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Profil{% endblock %}

{% block body %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="/user">{{ app.user.name }} {{ app.user.surname }}</a><i class="icon-angle-right"></i></li>
                        <li class="active">My Purchase<i class="icon-angle-right"></i></li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="widget" style="width: 300px">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="s" placeholder="Search..">
                        </div>
                    </form>
                </div>
                {{ include('user/usermenu.html.twig') }}
                <div class="col-lg-8">
                    <article>
                        <h1>Purchase index</h1>




                    <table class="table table-info">
                        <thead>
                        <tr>
                            <th>Paketid</th>
                            <th>Duration(Month)</th>
                            <th>Total</th>
                            <th>Note</th>
                            <th>Status</th>
                            <th>Order At</th>
                            <th>Packet Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for purchase in purchases %}

                            <tr>

                                <td><a href="/packet/{{purchase.paketid  }}">{{ purchase.pname}}</a></td>
                                <td>{{ purchase.duration }} </td>
                                <td>{{ purchase.total }}</td>
                                <td>{{ purchase.note }}</td>
                                <td>{{ purchase.status }}</td>
                                <td>{{ purchase.created_at | date('Y-m-d') }} </td>
                                <td>

                                    <a href="/packet/{{purchase.paketid  }}" class="btn btn-success">show</a>
                                </td>
                            </tr>

                        {% else %}
                            <tr>
                                <td colspan="15">no records found</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    </article>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
